ELECTION_CODE=31496 # this is 2025, 2022 is 27966. get from URL of site e.g. https://tallyroom.aec.gov.au/HouseDownloadsMenu-31496-Csv.htm
YEAR=2025 # needed for column headers and file names
LOGGING_LEVEL=INFO # Optional, sets logging level
ELECTION_LIVE=True # Optional, set if this election is ongoing - they use a different url